#var
var/www/*
!var/www/.placeholder

var/log/nginx/*
!var/log/nginx/.placeholder

var/backup/*
!var/backup/.placeholder

var/lib/postgresql/data
!var/lib/postgresql/.placeholder

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# vi swap file
*.swp
